{{ define "title" }}About Catsnob{{ end }}

{{ define "content" }}
<section class="info-page">
  <h1>Welcome to Catsnob 🍎</h1>
  <p>
    Catsnob is a cozy, cat-themed music review platform. It allows users to browse artists, albums, and tracks with a simple design.
  </p>
  <p>
    You can explore and rate albums,create albums/tracks list,leave reviews,and build your own musical profile.
  </p>
  <p>
    Our vision was to create a timeless archive for music snobs, were they can see and catagorize their music picks as well as their opinions in them.
  </p>

</section>
{{ end }}