{{ define "title" }} MarLenViS Studio{{ end }}

{{ define "content" }}
<section class="info-page">
  <h2>MarLenViS Studio</h2>
  <p>Conformed by:</p>

  <div class="member">
    <img src="/app/assets/images/victor.png" alt="Victor">
    <div class="info">
      <h3>Victor</h3>
      <p>Leader</p>
      <p>Favorite Album: Ants from up there- Black Country, New Road</p>
    </div>
  </div>

  <div class="member">
    <img src="/app/assets/images/lenikaa.png" alt="Lenika">
    <div class="info">
      <h3>Lenika</h3>
      <p>Favorite Song: Look on Down From Down the Bridge - Mazzy Star</p>
    </div>
  </div>

  <div class="member">
    <img src="/app/assets/images/cesar.png" alt="Cesar">
    <div class="info">
      <h3>Cesar</h3>
      <p>Favorites Artist: Magdalena Bay </p>
    </div>
  </div>

  <div class="member">
    <img src="/app/assets/images/silvia.png" alt="Silvia">
    <div class="info">
      <h3>Silvia</h3>
      <p>Favorites: </p>
    </div>
  </div>
</section>
{{ end }}