{{ define "title" }}Home Page | Albums{{ end }}

{{ define "content" }}
<div id="content">
	<div class="header">
		<a href="/app/home">
			Artists
		</a>
		<a href="/app/home/albums" class="selected">
			Albums
		</a>
		<a href="/app/home/tracks">
			Tracks
		</a>
		<a href="/app/home/lists">
			Lists
		</a>
	</div>
	<div class="table">
		{{ range .Albums}}
		<div class="table-elem">
			<a class="name" href="/app/album/{{ .ID }}"> <img src="{{.ImgUrl }}" alt="Album Image"> {{ .Name }}</a>
		</div>
		{{end}}
	</div>
</div>
{{ end }}
