body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
}

header {
  background-color: black;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  color: white;
}

nav div:nth-child(2) {
  border-radius: 10px;
  padding: 10px 30px;
}

.top-button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  background: none;
}

footer {
  margin-top: 50px;
  font-size: 12px;
}

div.header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px   solid gray;
  padding: 10px 0;
}

#content {
    margin: 0 20vh;
}

.profile-button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  background: none;
  color: white;
}
