{{ define "title" }}Home Page{{ end }}

{{ define "content" }}
	<div id="content">
		<div class="header">
			<a href="/app/home" class="selected">
			Artists
			</a>
			<a href="/app/albums">
			Albums
			</a>
			<a href="/app/tracks">
			Tracks
			</a>
			<a href="/app/followed">
			Users
			</a>
		</div>
		<div class="table">
			{{ range .Artists}}
				<div class="table-elem">
					<img src="{{.ImgUrl }}">
					<a class="name" href="/app/music/{{ .NameSlug }}"> {{ .Name }}</a>
				</div>
			{{end}}
		</div>
	</div>
{{ end }}
