<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/styles.css">
	<title>CATSNOB</title>
</head>

<body>
	<header>
		<nav>
			<div>LOGO</div>
			<div>CATSNOB</div>
			<button class="top-button" id="profile-button">Profile</button>
		</nav>
	</header>
	<div id="content">
		<nav>
			<button class="top-button" id="home-button">Users</button>
			<button class="top-button" id="menu-button">Artists</button>
			<button class="top-button" id="about-button">Albums</button>
			<button class="top-button" id="about-button">Tracks</button>
		</nav>
	</div>
	<footer>Page made by: </footer>
</body>

</html>
