<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ if .Stylesheet }}
	<link rel="stylesheet" href="{{ .Stylesheet }}">
	{{ else }}
	<link rel="stylesheet" href="/app/assets/styles.css">
	{{ end }}
	<title>{{ block "title" . }}CATSNOB{{ end }}</title>
</head>
<body>
	<header>
		<nav>
			<a href="" class="nav">LOGO</a>
			<a href="" class="nav">CATSNOB</a>
			<a href="" class="nav profile-button">Profile</a>
		</nav>
	</header>

	<main>
		{{ block "content" . }}{{ end }}
	</main>
	<footer>Page made by: </footer>
</body>
</html>
