<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ if .Stylesheet }}
	<link rel="stylesheet" href="{{ .Stylesheet }}">
	{{ else }}
	<link rel="stylesheet" href="/app/assets/css/styles.css">
	{{ end }}
	<title>{{ block "title" . }}CATSNOB{{ end }}</title>
</head>

<body>
	<header>
		<nav>
			<a href="/app/home" class="nav">LOGO</a>
			<a href="/app/home" class="nav">CATSNOB</a>
			{{ if .User }}
			<a href="/app/user/{{.User.Name}}" class="nav"> {{ .User.Name }}</a>
			<form action="/app/logout" method="POST" style="display: inline;">
				<button type="submit">Logout</button>
			</form>
			{{ else }}
			<a href="/app/login" class="nav"> Log in!</a>
			<a href="/app/join" class="nav"> Join!</a>
			{{ end }}
		</nav>
	</header>
	{{ if .Error }}
	<div class="error"> {{ .Error }}</div>
	{{ else }}
	{{ end }}


	<main>
		{{ block "content" . }}{{ end }}
	</main>
	<footer>Page made by: </footer>
</body>

</html>
