{{ define "title" }}{{ .ProfileUser.Name}}{{ end }}

{{ define "content" }}

<h1>{{ .ProfileUser.Name }}</h1>
<img class="profile-img" src="{{ .ProfileUser.ImgUrl }}">
<h2> Reviews </h2>
<div class="reviews"> 
	<p> Album Image </p>
	<p> Album Name </p>
	<p> Score </p>
	<p> Actions </p>
	{{ range .Reviews}}
	<a href="/app/album/{{ .AlbumID }}"><img src="{{ .ImgUrl }}"></a>
	<p>{{ .Name }}</p>
	<p>{{ .Score }}</p>
	<div> <a href="/app/user/{{ $.ProfileUser.Name }}/review/{{ .ID}}">View</a></div>
	{{ end }}
</div>
{{ end }}
